# Logs y OS
*.log
.DS_Store
Thumbs.db
yarn-error.log
npm-debug.log

# Entornos
.env
.env.*
!.env.example

# IDE / herramientas
/.idea
/.vscode
/.fleet
/.nova
/.zed
/auth.json
/phpactor.json
.phpunit.result.cache
/.phpunit.cache

# Node
/node_modules
/public/hot
/public/build

# Storage público (symlink)
public/storage

# Laravel storage & cache
/storage/*.key
/storage/pail
/storage/*
!/storage/.gitignore
/bootstrap/cache/*.php
!/bootstrap/cache/.gitignore

# Vendor
/vendor

# Homestead
Homestead.json
Homestead.yaml
